<div class=" container col-lg-10 col-lg-offset-2">

    <div class="jumbotron ">
        <h3 class="fuerte"> {{title}} </h3>
        <p>Disfruta de las Publicaciones</p>
        <p>
            <a href="#" class="btn btn-primary btn-lg" role="button">
            TimeLine
          </a>
            <a href="#" class="btn btn-success btn-lg" role="button">
          Perfil
          </a>
            <a href="#" class="btn btn-info  btn-lg" role="button">
           Gente
          </a>
        </p>
    </div>
</div>