<nav class="navbar navbar-expand-lg navbar-light bg-light log ">
    <a class="navbar-brand text-primary" [routerLink]="['/home']"> PlusTalk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar navbar-nav menu " *ngIf="identity">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']"> <i class="fa fa-home"></i> Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fa fa-clock"></i> Time Line</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/gente/1']" [routerLinkActive]="['active']"> <i class="fa fa-users"></i> Gente</a>
            </li>

            <form class="form-inline navbar-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <li>
                <div class="btn-group">
                    <button type="button" class="btn jeff  dropdown-toggle redondo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="avatar" src="{{ url + 'get-image-user/' + identity.image}}" *ngIf=" identity && identity.image">
                      </button>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="#"><i class="fa fa-user">  Perfil </i>  </a>
                        <a class="dropdown-item" [routerLink]="['/datos']"> <i class="fa fa-user-edit"> Mis Datos </i> </a>
                        <a class="dropdown-item pointer" (click)="logout()" href="#"> <i class="fa fa-user-circle"> Cerrar Seccion</i></a>
                    </div>
                </div>



                <!-- =================================================== -->
                <!-- <li class="avatar"> -->
                <!-- Cargar imagen de usuario -->

                <!-- </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs"></i> {{identity.name}} <i class="fa fa-arrow-down"></i>
                </a>
            </li>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i> Mi Perfil
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-data"></i> Mis Datos
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-off"></i> Cerrar Seccion
                    </a>
                </li>
            </ul> -->





               


        </ul>
        <ul class="navbar navbar-nav menu  " *ngIf="!identity">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']"> <i class="fa fa-user-circle"></i> Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['register']"> <i class="fa fa-user-plus"></i> Register</a>
            </li>

        </ul>

        </div>
</nav>
<div>
<router-outlet></router-outlet>
</div>

